In [1]:
def raised_to_the_power_of_2(x):
    result = x ** 2
    return result

In [5]:
raised_to_the_power_of_2(5)

25

In [7]:
multiply_by_2(4)

8

In [8]:
def number_of_cars(x,y):
    R = x + 10
    B = y * 3
    print("Total number of Red and Blue cars")
    return(R,B)

In [9]:
number_of_cars(2,3)

Total number of Red and Blue cars

(12, 9)

In [11]:
n = [1,2,3,4,5,6]
n

[1, 2, 3, 4, 5, 6]

In [12]:
for item in n:
    print(item*4, end = ' ')

4 8 12 16 20 24

In [15]:
for item in n:
    if item % 3 == 1:
        print(item)
    else:
        print("anything else")

1
anything else
anything else
4
anything else
anything else

In [25]:
y = 10
y

print(str(y), "Dollars")

10 Dollars

In [26]:
for n in range(10):
    print(2*n, end = ' ')

0 2 4 6 8 10 12 14 16 18

In [28]:
for n in range(20):
    if n % 2 == 0:
        print(n, end = ' ')
    else:
        print("Odd", end = ' ')

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [2]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total +=1
    return total

In [3]:
s = 5
s

5

In [4]:
import numpy as np

In [5]:
v = np.array([5, -2, 4])
v

array([ 5, -2,  4])

In [8]:
m = np.array([[1,2,3],[6,8,9]])
m

array([[1, 2, 3],
       [6, 8, 9]])